@model Railing
@{ ViewBag.Title = TempData["Action"];}

<h2>@TempData["Action"]</h2>

<div class="card">
    <img src="/Images/apex3logo.png" alt="Image of railing" style="width:100%" />
    
    <h3 class="card-title p-3">@Model.Name</h3>
    <h6 class="card-subtitle p-1">@Model.GetFormattedPrice()</h6>

    <p class="card-body p-1">@Model.Description</p>

    <p><button class="btn btn-success" asp-action="Add"
               asp-controller="Design">Add to Design</button></p>

    <p><button class="btn-secondary" asp-action="Back"
               asp-controller="Home">Back</button></p>
</div>
